estudos_csharp.sln
# Ignorar pastas de build
bin/
obj/

# Ignorar configurações específicas do VS Code
.vscode/

# Ignorar arquivos temporários e de log
*.log
*.tmp

# Ignorar arquivos de configuração do usuário
*.user
*.suo