/ConsoleApp1/obj
/URI1016/obj
/URI1016/obj
/URI1014/obj
/URI1014/obj
/URI1010/obj
/URI1010/obj
/URI1008/obj
/URI1008/obj
/URI1007/obj
/URI1007/obj
/uri1004/obj
/uri1004/obj
/URI1003/obj
/URI1003/obj
/ExerciciosURI/obj
/ExerciciosURI/obj
/ExercicioPratico1/obj
/ExercicioPratico1/obj
/Exercicio1/obj
/Exercicio1/obj
/ConsoleApp3/obj
/ConsoleApp3/obj
/ConsoleApp2/obj
/ConsoleApp1/obj
